*{box-sizing: border-box;margin: 0;padding: 0; font-weight: 400; font-size: 14px; color: #000; text-decoration: none;}

.App{
  position: relative;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  border: 1px solid #000;
}

.black-header{
  padding: 20px;
  background-color: #000;
}
h1{
  font-weight: 700;
  font-size: 26px;
  color: #fff;
}

.list-item{
  border-bottom: 2px solid #000;
  padding: 20px;
}
.list-item h2 span:first-child{
  font-weight: 600;
  font-size: 20px;
}
.list-item p:last-child{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-container{
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  padding: 20px;
  background-color: #fff;
}
.modal-header{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.modal-body>div{
  margin: 10px 0;
  border: 1px solid #000;
  padding: 10px;
}




